.statisticsAndTable {
    .tableCustom {
        flex-basis: 65%;
        overflow-x: hidden;
        // height: 600px;
        .list {
            max-height: 700px;
            overflow: auto;
            box-sizing: border-box;
            padding-right: 50px;
            transform: translatex(50px);
        }

        .tableItem {


        }
    }
    .statistics {
        flex-basis: 25%;
        .busd {
            // height: 200px;
        }
        .busdContracts {
            // height: 600px;
        }
    }

}