<!--Header -->
<div class="header md:tw-flex md:tw-justify-between md:tw-gap-2 tw-my-5">
    <div class="tw-flex tw-justify-start tw-gap-2">
      <div class=" tw-text-5xl">{{title | titlecase}}</div>
      <div class="tw-self-center">
        <a href="#" target="_blank" class="generalLink" >ID {{userId}}</a>
      </div>
    </div>
    <div *ngIf="!wihtoutFilter">
      <div class="tw-self-center">
        <button class="generalLink" [ngClass]="{'tw-bg-blue-500 tw-text-white': isFiltersOpened}" (click)="toggleFiltersSlide()" >
          <fa-icon [icon]="faFilter"></fa-icon> Filters
        </button>
      </div>
    </div>
  
  </div>
  
  
  <!--Filter-->
  
  <div *ngIf="isFiltersOpened && !wihtoutFilter" class="cardElement grayBg">
    <form #filterForm="ngForm" (ngSubmit)="applyFilter(filterForm)">
      <div class="md:tw-grid md:tw-gap-3 md:tw-grid-cols-3">
        <div>
          <label class="tw-m-2 tw-text-neutral-500">Program</label>
          <select ngModel name="program" class="tw-form-select tw-p-3 tw-m-2 tw-w-full tw-bg-neutral-700 hover:tw-bg-neutral-500 tw-rounded-md">
              <option 
                class="tw-p-3 tw-m-2 tw-w-full tw-bg-neutral-700 hover:tw-bg-neutral-500"
                *ngFor="let program of programs" 
                [value]="program">
                {{program}}
              </option>
          </select>
        </div>
        <div>
          <label class="tw-m-2 tw-text-neutral-500">level</label>
          <select ngModel name="level" class="tw-form-select tw-p-3 tw-m-2 tw-w-full tw-bg-neutral-700 hover:tw-bg-neutral-500 tw-rounded-md">
              <option 
                class="tw-p-3 tw-m-2 tw-w-full tw-bg-neutral-700 hover:tw-bg-neutral-500"
                *ngFor="let level of levels" 
                [value]="level">
                {{level}}
              </option>
          </select>
        </div>
  
        <div>
          <label class="tw-m-2 tw-text-neutral-500">Search ID / address</label>
          <input ngModel
            name="search"
            placeholder="Enter Id / wallet"
            class="tw-form-select tw-p-3 tw-m-2 tw-w-full tw-bg-neutral-700 hover:tw-bg-neutral-500 tw-rounded-md" />
        </div>
        <div>
          <button 
            type="submit"
            class=" tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-font-bold tw-mx-2 tw-p-3 tw-rounded-md tw-w-full" 
            >
            Apply filters
          </button>
        </div>
        <div>
          <button 
            class=" tw-bg-neutral-700 hover:tw-bg-neutral-500 tw-text-white tw-font-bold tw-mx-2 tw-p-3 tw-rounded-md tw-w-full" 
            (click)="clearFilter(filterForm)">
            Reset filters
        </button>
        </div>
    
    
      </div>
  
    </form>
  </div>
  