@use 'src/custom-style/variables.scss' as c;
.tableParent {
    .tableCustom {
        background-color: c.$cart;
        box-shadow: none !important;

        th, td {
            color:#aaa;
        }
    }
}