.parent {
    display: flex;
    margin-top: 60px;
    .sideMenu {
        border-right-width: 1px;
        @media (min-width: 768px)  {
            position: fixed;
        }
        @media (max-width: 768px)  {
            display: none;
        }
        
        
        
    }
    .content {
        @media (min-width: 768px)  {
            margin-left: 200px;
        }
        
        width: 100%;

    }
}