<div>
    <p>One of the most effective way to promote your link online, just copy banner code and insert it on your website or in your marketing campaign.</p>
    <div class="md:tw-grid md:tw-gap-2 md:tw-grid-cols-2">
        
        <div 
            *ngFor="let el of data"
            class="tw-bg-neutral-700 tw-p-3 tw-m-2 tw-rounded-lg tw-flex tw-flex-col tw-justify-between ">
            <div class="tw-flex tw-justify-center tw-items-center tw-h-full tw-w-full">
                <div>
                    <img class="tw-max-h-60" [src]="el.image" [alt]="el.title">
                </div>
                    

                
            </div>
            <div class="">
                <div class="tw-text-center tw-my-2 ">
                    {{el.title}}
                </div>
                <div class="tw-bg-neutral-500 tw-p-3 tw-m-2 tw-flex tw-gap-2 tw-rounded-lg tw-text-neutral-300 " style="word-break: break-word;">
                    
                        &lt; a href='https://forsage.io/b/g1y2kx' target='_blank' &gt; &lt; img src='{{el.image}}'/&gt;&lt;/a&gt;
                    
                </div>
            </div>

            

        </div>
    </div>
</div>
