// .navbarWrapper {
//     position: relative;
//     width: 100%;
//     .navbarParent {
//         position: absolute;
//         .navbar {
//             position: fixed;
//             top: 0;
//             z-index: 1;
//             transform: translate(50%, 0%);
//         }

//     }
// }
.navbarWrapper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 25px;
    .navbar {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}

// .navbar {
//     position: fixed;
//     top: 0;
//     z-index: 1;
//     // transform: translate(50%, 0%);
// }

.content {
}