@use 'src/custom-style/variables.scss' as c;
.tableParent {
    // overflow: scroll;
    .tableCustom {
        background-color: c.$cart;
        box-shadow: none !important;

        th {
            color:#aaa;
        }
        td {
            color:#fff
        }
    }
}