@use 'src/custom-style/variables.scss' as c;
.pageTitle {
    color: #fff;
    margin-top: 20px;
}
.tableParent {
    .tableCustom {
        background-color: c.$cart;
        box-shadow: none !important;

        th, td {
            color:#aaa;
        }
    }
}