
/* Content*/
.header {
    background-image: linear-gradient(#0026ff, #ddd);
    border-radius: 20px;
    padding: 20px;
    height: 200px;
    margin: 10px 0;
    color: #fff;
    
}
.accountPreview {
    .idInputContainer {
        
        .idInputGrandParent {
            // flex-basis: 60rem;
            flex-basis: 60%;
            .idInputParent {
                .idInput {
                    flex-basis: 75%;
                }

            }
        }
        .idCheckDemo {
            // flex-shrink: 1;
            flex-basis: 40%;

        }
    }
}
.recentActivity {

}

